{
	"presets": ["@babel/preset-react", "@babel/preset-typescript"],
	"plugins": [
		[
			"@babel/plugin-transform-react-jsx",
			{
				"runtime": "automatic"
			}
		],
		"@babel/plugin-transform-optional-chaining",
		"@babel/plugin-transform-spread",
		"@babel/plugin-transform-object-rest-spread",
		"@babel/plugin-transform-class-properties",
		"babel-plugin-styled-components"
	]
}
