.Image__content{
	border: 1px solid transparent;
	box-sizing: border-box;
	display: flex;
	font-size: 11px;
	height: 66px;
	margin-left: 4px;
	margin-right: 6px;
	padding-top: 3px;
	position: relative;
	text-align: center;
	width: 153px;
}

.Image__description{
	font-size: 11px;
	position: absolute;
	bottom: 3px;
	text-align: center;
	width: 100%;
}

.Image__leftColumn{
	flex-shrink: 0;
	position: relative;	
	box-sizing: border-box;
	border: 1px solid transparent;
	width: 45px;
}

.Image__selectionIcon{
	position: relative;
	box-sizing: border-box;
	border: 1px solid transparent;
	// border: 1px solid rgb(0, 130, 248);
	height: 38px;

	>img{
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&:hover{
		background: rgb(232, 239, 247);
		border: 1px solid rgb(164, 206, 249);
	}
}

.Image__expandSelectionButton{
	position: relative;
	box-sizing: border-box;
	top: -1px;
	padding-top: 2px;
	line-height: 10px;
	border: 1px solid transparent;
	height: 29px;

	&:hover{
		background: rgb(232, 239, 247);
		border: 1px solid rgb(164, 206, 249);
	}
}

.Image__rightColumn{
	width: 100%;
	list-style: none;

	>li{
		box-sizing: border-box;
		height: 22px;
		text-align: left;
		border: 1px solid transparent;
		padding: 3px;
		width: fit-content;

		&:hover{
			background: rgb(232, 239, 247);
			border: 1px solid rgb(164, 206, 249);
		}

		&:active{
			background: rgb(201, 224, 247);
			border: 1px solid rgb(98, 162, 228);
		}
	}
}

.Image__rotateLi-arrowDown{
	position: relative;
	bottom: 3px;
}
