.Ribbon{
	position: relative;
	top:0;
	left:0;
	background: white;
	width: 100%;
	height: 116px; /* with borders */
	/* background: red; */
}

.Ribbon__tabs{
	position: absolute;
	width: 100%;
	height: 100%;
}