.ViewTab {
	display: block;

	&__content {
		position: relative;
		display: flex;
		height: 70px;
		padding-top: 4px;
		padding-left: 6px;
		padding-right: 6px;
	}

	&__checkboxInput {
		position: absolute;
		opacity: 0;
		cursor: pointer;

		&:checked ~ .ViewTab__customCheckbox::after {
			display: inline;
		}
	}

	&__checkboxDesc {
		font-size: 11px;
		position: relative;
		bottom: 2px;
		white-space: nowrap;
	}

	&__customCheckbox {
		display: inline-block;
		position: relative;
		margin-right: 7px;
		height: 13px;
		width: 13px;
		box-sizing: border-box;
		background: white;
		line-height: 17px;
		border: 1px solid rgb(97, 121, 160);

		&::after {
			display: none;
			position: absolute;
			top: -4px;
			left: 0;
			height: 11px;
			width: 11px;
			content: url("../../../assets/icons/view-tab/checked.png");
			z-index: 100;
		}
	}

	&__description {
		position: relative;
		font-size: 11px;
		font-weight: normal;
		text-align: center;
		margin: 0 4px;
	}

	&__figure {
		position: relative;
		text-align: center;
		display: inline-block;
		border: 1px solid transparent;
		height: 100%;
		padding: 2px;
		box-sizing: border-box;
		min-width: 42px;
		&:hover {
			border: 1px solid rgb(164, 206, 249);
			background: rgb(232, 239, 247);
		}
	}

	&__figcaption {
		font-size: 11px;
		text-align: center;
	}

	&__group {
		display: inline-block;
		position: relative;
		height: 100%;
		border-right: 1px solid rgb(226, 227, 228);
		width: fit-content;
	}

	&__label {
		position: relative;
		white-space: nowrap;

		&:hover > .ViewTab__customCheckbox {
			background: rgb(243, 249, 255);
			border: 1px solid rgb(51, 153, 255);
		}
	}

	&__list {
		position: absolute;
		top: 0;
		list-style: none;
		margin-top: 8px;
	}
}
