.TitleBar{
	position: relative;
	min-width: 120px;
	width: 100%;
	background: white;
	height: 30px;
	flex-shrink: 0;
}

.TitleBar__window-icons{
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	height: 100%;
	&__icon{
		position: relative;
		height: 100%;
		width: 45px;

		&:hover{
			background: rgb(229, 229, 229);
		}

		&--close:hover{
			background: rgb(232, 17, 35);
			&>.TitleBar__window-icons__icon__image{
				filter: invert(100%);
			}
		}

		&__image{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		&__minimizeTile{
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__minimize{
			width: 10px;
			border-bottom: 1px solid black;
		}
	}
}