* {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', 'Calibri';
	user-select: none;
}

body {
	overflow: hidden;
	background: white;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	left: 50px;
	top: 50px;
	height: 768px;
	width: 1600px;
	border: 1px solid rgb(24, 131, 215);
	box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.35);
}
